body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-page {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin-top: 00px;
}

h2 {
    color: #333333;
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    gap: 15px; /* Space between buttons */
    align-items: center;
}


button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Make button take full width */
}

button:hover {
    background-color: #0056b3;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
